$font-reg: "proxima_nova_rgregular", sans-serif;
$font-semibold: "proxima_novasemibold", sans-serif;
$font-light: "proxima_novalight", sans-serif; 
$font-bold: "proxima_nova_rgbold",sans-serif;
$font-extrabold: "proxima_novaextrabold",sans-serif;
$font-thin: "Conv_Proxima Nova Thin",sans-serif;
$font-black: "proxima_novablack",sans-serif;

$main-blue: #2fc6f7;
$main-green: #bbe516;
$main-purple: #362ca3;